.generalRankingContainer {
  background-color: gainsboro;
  text-align: left;
  height: 100%;
}
.firstPlace {
  color: gold;
}
.secondPlace {
  color: silver;
}

.thirdPlace {
  color: brown;
}

.rankPosition {
  font-size: 2em;
  text-align: center;
}

.rankingsContainer {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  margin-top: 1em;
}

.wrapper {
  display: inline-flex;
  margin-bottom: 0;
  background-color: azure;
  border: solid 2px blue;
  margin: 0.25em 1em;
  min-width: 25vw;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.wrapper > * {
  margin-right: 1.5em;
}
.posWrapper {
  min-width: 3.5em;
}
.imgWrapper {
  padding-top: 0.25em;
}
.rankTeam {
  text-align: right;
  margin-left: auto;
}

.rankTeam:hover,
.imgWrapper:hover,
.rankName:hover {
  cursor: pointer;
  transform: scale(1.1);
}
