.generalRankingContainer {
  background-color: gainsboro;
  text-align: left;
}
.generalRankingContainer h1 {
  text-align: center;
}

.generalRankingContainer ul {
  display: flex;
  transform: scale(0.9);
  flex-flow: column wrap;
  list-style: none;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  max-height: 80vh;
}

.generalRankingContainer ul li.wrapper {
  background-color: blueviolet;
  display: inline-flex;
  margin: 0.5em;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.generalRankingContainer ul li.wrapper > * {
  flex: 1;
  width: auto;
  margin-left: auto;
}


.generalRankingContainer ul li.wrapper > div.imgNameContainer {
  flex: 1;
  width: auto;
  margin-left: auto;
  display: inline-flex;
  margin: 0.5em;
  margin-left: -2em;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}


.foto {
  margin: 1em;
  transform: scale(0.8);
  margin-left: -3em;
  flex-grow: 1;
}
.rankName {
  transform: scale(1.2);
  width: 100%;
  flex-grow: 2;
}

.firstPlace{
  color:gold;
}
.secondPlace {
  color: silver;
}

.thirdPlace {
  color: brown;
}

.rankPosition {
  font-size: 3em;
}