.generalRankingContainer {
  background-color: gainsboro;
  text-align: left;
}
.generalRankingContainer h1 {
  text-align: center;
}

.generalRankingContainer ul {
  display: block;
  margin-left: 33.3vw;
  width: 33.3vw;
}

.generalRankingContainer ul li.wrapper {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: left;
  margin: 1.5em;
}

.generalRankingContainer ul li.wrapper > * {
  flex: 1;
  text-align: center;
}
.rankPosition {
  font-size: 3em;
}

.foto {
  margin: 1em;
}
.rankName {
  flex-grow: 3;
}
